<%- include("includes/header.ejs") %>
<div class="msg-display">
  <%- include("includes/messages.ejs") %>
</div>
<main class="content">
  <div class="container flex-center">
    <div class="column">
      <% if (contacts.length > 0) { %>
      <h2 class="title-main center">Contatos</h2>
      <table>
        <tbody>
          <% contacts.forEach(function(contact) { %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.lastname %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.email %></td>
            <td>
              <a href="/contact/<%= contact._id %>" class="btn btn-primary">Editar</a>
            </td>
            <td>
              <a href="/contact/remove/<%= contact._id %>" class="btn btn-danger">Remover</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
      <h2 class="title-main center">Sem contatos</h2>
      <% } %>
    </div>
  </div>
</main>
<%- include("includes/footer.ejs") %>
